.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #EBE9E1;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #D6536D;
  border-top: 5px solid #E43D12;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
